
$black: #424242;
$yellow: #fe2d17;
$yellow_light: #E1F038;
$yellow_darken1: #FACD2D;
$yellow_darken2: #FCD54C;
$gray: #A6A6A6;
$gray_darken: #686868;
$white: #eae7e7;
$gray30: rgba(0, 0, 0, 0.2);
$activ-link: #757575;
$dark: #000;
$backgroundFilter: rgba(254, 45, 23, .1);
$backgroundFilterActive: rgba(254, 45, 23, .3);